<h1><%= @build.name %></h1>

<p><%= @build.id_build %></p>

<p><%= @build.is_like %></p>

<ul>
  <li><%= link_to "Edit", edit_build_path(@build) %></li>
    <li><%= link_to "Destroy", build_path(@build),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>